@using TraversalTourProject.EntityLayer.Concrete;
@model Guide


@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Yeni Rehber Ekleme</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Yeni Lokasyonlar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Rehber</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Surname</label>
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Language</label>
                            @Html.TextAreaFor(x => x.Language, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="inputDescription">Tur Görseli</label>
                            @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
                        </div>
                        <div class="col-12">
                            <a href="#" class="btn btn-secondary">Iptal</a>
                            <input type="submit" value="Yeni Rehber Ekle" class="btn btn-success float-right">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



